<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Andy Portfolio</title>
    <link
      href="https://unpkg.com/boxicons@2.0.8/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/styles/style.css" />
  </head>
  <body>
    <!-- ========== HEADER ================-->
    <header class="l-header">
      <nav class="nav bg-grid">
        <div>
          <a href="#" class="nav_logo">Andrew</a>
        </div>

        <div class="nav_menu" id="nav-menu">
          <ul class="nav_list">
            <li class="nav_item">
              <a href="#home" class="nav_link active">Home</a>
            </li>
            <li class="nav_item">
              <a href="#about" class="nav_link">About</a>
            </li>
            <li class="nav_item">
              <a href="#skills" class="nav_link">Skills</a>
            </li>
            <li class="nav_item"><a href="#work" class="nav_link">Work</a></li>
            <li class="nav_item">
              <a href="#contact" class="nav_link">Contact</a>
            </li>
          </ul>
        </div>

        <div class="nav_toggle" id="nav-toggle">
          <i class="bx bx-menu"></i>
        </div>
      </nav>
    </header>
    <main class="l-main">
      <!--==================== Home ===================-->
      <section class="home bg-grid" id="home">
        <div class="home_data">
          <h1 class="home_title">
            Hi, I'am <span class="home_title-color">Andrew</span>
            <h2 class="text-rotator" id="rotatingText"></h2>
            <br /><br />
          </h1>
          <a href="#contact" class="button">Contact</a>
        </div>
        <div class="home_social">
          <a href="#" class="home_social-icon"
            ><i class="bx bxl-linkedin"></i
          ></a>
          <a href="#" class="home_social-icon"
            ><i class="bx bxl-instagram"></i
          ></a>
          <a href="#" class="home_social-icon"><i class="bx bxl-github"></i></a>
        </div>
        <div class="home_img">
          <img src="/static/images/Andy.jpg" alt="" />
        </div>
      </section>
      <!--================= About ==================-->
      <section class="about section" id="about">
        <h2 class="section_title">About</h2>

        <div class="about_container bg-grid">
          <div class="about_img">
            <img src="/static/images/About.jpg" alt="" />
          </div>
          <div>
            <h2 class="about_subtitle">I'm Andrew</h2>
            <p class="about_text">
              Welcome to my portfolio! I’m a passionate and skilled Full stack
              Developer with a keen eye for detail and a dedication to
              delivering exceptional results. My work spans on web design,
              backend development, and I strive to blend
              creativity with functionality in every project. Take a look around
              to explore my work and learn more about what I bring to each
              project.
            </p>
          </div>
        </div>
      </section>
      <!--=========== Skills =================-->
      <section class="skills section" id="skills">
        <h2 class="section_title">Skills</h2>

        <div class="skills_container bg-grid">
          <div>
            <h2 class="skils_subtitle">Professional Skills</h2>
            <p class="skills_text">
              I’m a versatile developer with expertise in both front-end and
              back-end development, using languages like Go to craft scalable applications that tackle real-world
              challenges.
            </p>
            <div class="skills_data">
              <div class="skills_name">
                <i class="bx bxl-html5 skills_icon"></i>
                <span class="skills_name">HTML5</span>
              </div>
              <div class="skills_bar skills_html"></div>
              <div class="skills_percentage">95%</div>
            </div>
            <div class="skills_data">
              <div class="skills_name">
                <i class="bx bxl-css3 skills_icon"></i>
                <span class="skills_name">CSS</span>
              </div>
              <div class="skills_bar skills_css"></div>
              <div class="skills_percentage">70%</div>
            </div>
            <!-- <div class="skills_data">
              <div class="skills_name">
                <i class="bx bxl-javascript skills_icon"></i>
                <span class="skills_name">JavaScript</span>
              </div>
              <div class="skills_bar skills_js"></div>
              <div class="skills_percentage">85%</div>
            </div> -->
            <div class="skills_data">
              <div class="skills_name">
                <i class="bx bxl-go skills_icon"></i>
                <span class="skills_name">Go</span>
              </div>
              <div class="skills_bar skills_go"></div>
              <div class="skills_percentage">85%</div>
            </div>
            <!-- <div class="skills_data">
              <div class="skills_name">
                <i class="bx bxs-paint skills_icon"></i>
                <span class="skills_name">UI/UX</span>
              </div>
              <div class="skills_bar skills_ux"></div>
              <div class="skills_percentage">95%</div>
            </div> -->
          </div>

          <div>
            <img src="/static/images/work3.jpg" class="skills_img" alt="" />
          </div>
        </div>
      </section>
      <!--============ Work =============-->
      <section class="work section" id="work">
        <h2 class="section_title">Work</h2>

        <div class="work_container bg-grid">
          <a
            href="https://github.com/kh3rld/biasharaid"
            target="_blank"
            class="work_img"
            data-hover-text="Blockchain based Digital Id identity"
          >
            <img src="/static/images/Biasharaid.jpg" alt="Work 1" />
          </a>
          <a
            href="https://github.com/andyosyndoh/Lem-in"
            target="_blank"
            class="work_img"
            data-hover-text="Ant Farm Visualizer"
          >
            <img src="/static/images/ant_colony_with_text.png" alt="Work 2" />
          </a>
          <a
            href="https://github.com/andyosyndoh/Groupie"
            target="_blank"
            class="work_img"
            data-hover-text="Groupie Tracker"
          >
            <img src="/static/images/Groupie1.jpg" alt="Work 3" />
          </a>
          
          </a>
        </div>
      </section>

      <!--============= CONTACT ===============-->
      <section class="contact section" id="contact">
        <h2 class="section_title">Contact Me</h2>

        <div class="contact_container bg-grid">
          <form action="/send-email" method="POST" class="contact_form">
            <input
              type="text"
              name="name"
              placeholder="Name"
              class="contact_input"
              required
            />
            <input
              type="email"
              name="email"
              placeholder="Email"
              class="contact_input"
              required
            />
            <textarea
              name="message"
              cols="30"
              rows="10"
              class="contact_input"
              placeholder="Your message"
              required
            ></textarea>
            <button type="submit" class="contact_button button">Submit</button>
          </form>
        </div>
      </section>
      <!--================ Footer ================-->
      <footer class="footer">
        <p class="footer_title">Andrew</p>
        <div class="footer_social">
          <a
            href="https://github.com/andyosyndoh"
            target="_blank"
            class="footer_icon"
            ><i class="bx bxl-github"></i
          ></a>
          <a href="mailto:andyovvo8@gmail.com" target="_blank" ="footer_icon"
            ><i class="bx bxl-envelope"></i
          ></a>
          <a
            href="https://www.linkedin.com/in/andrew-osindo-4530691ba/"
            target="_blank"
            class="footer_icon"
            ><i class="bx bxl-linkedin"></i
          ></a>
          <a
            href="https://www.instagram.com/andyosyndoh/"
            target="_blank"
            class="footer_icon"
            ><i class="bx bxl-instagram"></i
          ></a>
          <a
            href="https://www.google.com/url?sa=t&source=web&rct=j&opi=89978449&url=https://mobile.x.com/andy__osyndoh&ved=2ahUKEwiZmLntka6HAxVm-AIHHS4ADBcQFnoECBcQAQ&usg=AOvVaw1OUqkg1lD6edQv-nXC8IL6"
            target="_blank"
            class="footer_icon"
            ><i class="bx bxl-twitter"></i
          ></a>
        </div>
        <p>&copy; 2024 copyright all rights reserved</p>
      </footer>
    </main>
    <!-- SCROLL REVAEL -->
    <script src="https://unpkg.com/scrollreveal"></script>

    <!-- SCRIPT.JS -->
    <script src="/static/js/script.js"></script>
  </body>
</html>
